<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mb.dao.ClassifyMapper" >
  <resultMap id="ClassifyMap" type="com.mb.entity.Classify" >
    <id column="classify_id" property="classifyId" jdbcType="INTEGER" />
    <result column="classify_name" property="classifyName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    classify_id, classify_name
  </sql>
  <select id="getAll" resultMap="ClassifyMap">
  	select <include refid="Base_Column_List" /> from classify;
  </select>
  <!-- 根据id获取 -->
  <select id="getById" resultMap="ClassifyMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from classify
    where classify_id = #{classifyId,jdbcType=INTEGER}
  </select>
  <!-- 根据id删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classify
    where classify_id = #{classifyId,jdbcType=INTEGER}
  </delete>
  <!-- 添加 -->
  <insert id="insert" parameterType="com.mb.entity.Classify" >
    insert into classify (classify_id, classify_name)
    values (#{classifyId,jdbcType=INTEGER}, #{classifyName,jdbcType=VARCHAR})
  </insert>
  <!-- 根据id更新 -->
  <update id="updateByPrimaryKey" parameterType="com.mb.entity.Classify" >
    update classify
    set classify_name = #{classifyName,jdbcType=VARCHAR}
    where classify_id = #{classifyId,jdbcType=INTEGER}
  </update>
  <!-- 批量删除 -->
  <delete id="deleteList">
  	DELETE FROM classify WHERE classify_id in
  	<foreach collection="array" open="(" close=")" separator="," item="pk">
  		#{pk}
  	</foreach>
  </delete>
</mapper>