<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mb.dao.LeaveMsgMapper" >
  <resultMap id="LeaveMsgMap" type="com.mb.entity.LeaveMsg" >
    <id column="lm_id" property="lmId" jdbcType="VARCHAR" />
    <result column="lm_content" property="lmContent" jdbcType="VARCHAR" />
    <result column="lm_email" property="lmEmail" jdbcType="VARCHAR" />
    <result column="lm_name" property="lmName" jdbcType="VARCHAR" />
    <result column="lm_date" property="lmDate" jdbcType="TIMESTAMP" />
    <result column="lm_fatherId" property="lmFatherid" jdbcType="VARCHAR" />
    <collection property="childLm" ofType="com.mb.entity.LeaveMsg" >
    	<id column="c_lm_id" property="lmId" jdbcType="VARCHAR" />
	    <result column="c_lm_content" property="lmContent" jdbcType="VARCHAR" />
	    <result column="c_lm_email" property="lmEmail" jdbcType="VARCHAR" />
	    <result column="c_lm_name" property="lmName" jdbcType="VARCHAR" />
	    <result column="c_lm_date" property="lmDate" jdbcType="TIMESTAMP" />
	    <result column="c_lm_fatherId" property="lmFatherid" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    lm_id, lm_content, lm_email, lm_name, lm_date, lm_fatherId
  </sql>
  <!-- 根据主键查找 -->
  <select id="select" resultMap="LeaveMsgMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from leavemsg
    where lm_id = #{lmId,jdbcType=VARCHAR}
  </select>
  <!-- 获取全部 -->
  <select id="getAll" resultMap="LeaveMsgMap" >
    select 
    <include refid="Base_Column_List" />
    from leavemsg;
  </select>
  <!-- 根据主键删除 -->
  <delete id="delete" parameterType="java.lang.String" >
    delete from leavemsg
    where lm_id = #{lmId,jdbcType=VARCHAR}
  </delete>
  <!-- 新增 -->
  <insert id="insert" parameterType="com.mb.entity.LeaveMsg" >
    insert into leavemsg (lm_id, lm_content, lm_email, 
      lm_name, lm_date, lm_fatherId
      )
    values (#{lmId,jdbcType=VARCHAR}, #{lmContent,jdbcType=VARCHAR}, #{lmEmail,jdbcType=VARCHAR}, 
      #{lmName,jdbcType=VARCHAR}, #{lmDate,jdbcType=TIMESTAMP}, #{lmFatherid,jdbcType=VARCHAR}
      )
  </insert>
  <!-- 更新 -->
  <update id="updateByPrimaryKey" parameterType="com.mb.entity.LeaveMsg" >
    update leavemsg
    set lm_content = #{lmContent,jdbcType=VARCHAR},
      lm_email = #{lmEmail,jdbcType=VARCHAR},
      lm_name = #{lmName,jdbcType=VARCHAR},
      lm_date = #{lmDate,jdbcType=TIMESTAMP},
      lm_fatherId = #{lmFatherid,jdbcType=VARCHAR}
    where lm_id = #{lmId,jdbcType=VARCHAR}
  </update>
  <!-- 获取根回复 -->
  <select id="getRootLeaveMsg" resultMap="LeaveMsgMap">
  	SELECT rl.lm_id, rl.lm_content, rl.lm_email, rl.lm_name, rl.lm_date
		, cl.lm_id AS c_lm_id, cl.lm_content AS c_lm_content, cl.lm_email AS c_lm_email, cl.lm_name AS c_lm_name, cl.lm_date AS c_lm_date
		, cl.lm_fatherId AS c_lm_fatherId
	FROM leavemsg rl
		LEFT JOIN leavemsg cl ON cl.lm_fatherId = rl.lm_id
	WHERE rl.lm_fatherId IS NULL ORDER BY rl.lm_date;
  </select>
  <!-- 获取该回复的所有一级子回复 -->
  <select id="getChild" parameterType="com.mb.entity.LeaveMsg" resultMap="LeaveMsgMap">
  	select 
    <include refid="Base_Column_List" /> FROM leavemsg WHERE lm_fatherId=#{lmId,jdbcType=VARCHAR} ORDER BY lm_date;
  </select>
  <!-- 总记录数 -->
  <select id="getCount" resultType="java.lang.Integer">
  	SELECT COUNT(lm_id) FROM leavemsg;
  </select>
  <delete id="deleteList">
  	  	DELETE FROM leavemsg WHERE lm_id IN
	<foreach collection="array" open="(" close=")" separator="," item="pk">
		#{pk}
	</foreach>
  </delete>
</mapper>