<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mb.dao.RoleMapper" >
  <resultMap id="RoleMap" type="com.mb.entity.Role" >
    <id column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <collection property="permissions" resultMap="com.mb.dao.PermissionMapper.PermissionMap"></collection>
  </resultMap>
  <sql id="Base_Column_List" >
    role_id, role_name
  </sql>
  <select id="getById" resultMap="RoleMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </select>
  <select id="getAll" resultMap="RoleMap" >
  	select 
    <include refid="Base_Column_List" />
    from role;
  </select>
  <delete id="delete" parameterType="java.lang.String" >
    delete from role
    where role_id = #{roleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mb.entity.Role" >
    insert into role (role_id, role_name)
    values (#{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="com.mb.entity.Role" >
    update role
    <set >
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mb.entity.Role" >
    update role
    set role_name = #{roleName,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=VARCHAR}
  </update>
  <select id="getUserRole" parameterType="java.lang.String" resultMap="RoleMap">
  	SELECT <include refid="Base_Column_List" /> FROM role WHERE role_id IN (SELECT ur.t_role_id FROM user_role ur WHERE ur.t_user_id=#{userId,jdbcType=VARCHAR});
  </select>
</mapper>